body{
    background-color: cornflowerblue;
}

h1{
    color: white;
    font-size: 90px;
}

.quadrato{
    height: 100%;
    aspect-ratio: 1/1;
    position: relative;
}

.blu{
    background-color: blue;
}

.giallo{
    background-color: yellow;
}

.rosso{
    background-color: red;
}

.verde{
    background-color: green;
}

.quadrato span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}